services:
{% for i in range(1, number_of_pairs + 1) %}
  peer-{{ i }}:
    container_name: peer-{{ i }}
    image: peer:latest
    ports:
      - "{{ peer_port_grpc + i }}:{{ peer_port_grpc }}"
      - "{{ peer_port_tcp + i }}:{{ peer_port_tcp }}"
      - "{{ metrics_base_port + i }}:{{ metrics_base_port + i }}"
    volumes:
      - {{ host_folder }}{{ input_data_folder }}/peer-{{ i }}:/tmp{{ input_data_folder }}
      - {{ host_folder }}/peer-{{ i }}:{{ app_folder }}
    environment:
      - PEER_NAME=peer-{{ i }}
      - PEER_HOST=peer-{{ i }}
      - PEER_PORT_GRPC={{ peer_port_grpc }}
      - PEER_PORT_TCP={{ peer_port_tcp }}
      - ENTRIES_PER_K_BUCKET={{ entries_per_k_bucket }}
      - LOGIN_FORMAT_FOR_KEYS={{ login_format_for_keys }}
      - INPUT_DATA_FOLDER=/tmp{{ input_data_folder }}
      - STORE_IPFS_FOLDER={{ app_folder }}{{ store_folder }}
      - SEARCH_WORKERS={{ search_workers }}
      - NUMBER_OF_PAIRS={{ number_of_pairs }}
      - METRICS_HOST=peer-{{ i }}
      - METRICS_PORT={{ metrics_base_port + i }}
      - NAME_SPACE=peer-{{ i }} 
{% set remainder = i % size_of_peer_groups  %}
{% if i < size_of_peer_groups %}
      - BOOTSTRAP_NODE=peer-1
      - IS_BOOTSTRAP_NODE_SEC=false
{% elif remainder == 0 %}
      - BOOTSTRAP_NODE=peer-1
{% if i == number_of_pairs %}
      - IS_BOOTSTRAP_NODE_SEC=false
{% else %}
      - IS_BOOTSTRAP_NODE_SEC=true
{% endif %}
{% else %}
      - BOOTSTRAP_NODE=peer-{{ i - remainder }}
      - IS_BOOTSTRAP_NODE_SEC=false
{% endif %}
    networks:
      - tp_net
{% if i != 1 %}
    depends_on:
      - peer-1 
{% endif %}
{% endfor %}

{% for i in range(1, number_of_clients + 1) %}
  client-{{ i }}:
    container_name: client-{{ i }}
    image: client:latest
    ports:
      - "{{ peer_port_tcp + i + number_of_pairs }}:{{ peer_port_tcp }}"
      - "{{ metrics_base_port + i + number_of_pairs }}:{{ metrics_base_port + i + number_of_pairs }}"
    volumes:
      - {{ host_folder }}{{ input_data_folder }}/client-{{ i }}:/tmp{{ input_data_folder }}
      - {{ host_folder }}/client-{{ i }}:{{ client_folder }}
    environment:
      - CLIENT_NAME=client-{{ i }}
      - CLIENT_HOST=client-{{ i }}
      - CLIENT_PORT={{ peer_port_tcp }}
      - LOGIN_FORMAT_FOR_KEYS={{ login_format_for_keys }}
      - INPUT_DATA_FOLDER=/tmp{{ input_data_folder }}
      - STORE_FOLDER={{ client_folder }}{{ store_folder }}
      - NUMBER_OF_PAIRS={{ number_of_pairs }}
      - NUMBER_OF_CLIENTS={{ number_of_clients }}
      - METRICS_HOST=client-{{ i }}
      - METRICS_PORT={{ metrics_base_port + i + number_of_pairs }}
      - NAME_SPACE=client-{{ i }}
    depends_on:
      - peer-1
    networks:
      - tp_net
{% endfor %}

  prometheus:
    image: prom/prometheus:v2.40.4
    container_name: prometheus
    ports:
      - "{{ prometheus_port }}:{{ prometheus_port }}"
    volumes:
      - ./src/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
{% for i in range(1, number_of_clients + 1) %}
      - client-{{ i }}
{% endfor %}
      - cadvisor
    networks:
      - tp_net

  cadvisor:
    container_name: cadvisor
    image: gcr.io/cadvisor/cadvisor:latest
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    ports:
      - 8079:8080
    privileged: true
    devices:
      - /dev/kmsg
    restart: unless-stopped
    networks:
      - tp_net    

  grafana:
    image: grafana/grafana:latest
    ports:
      - 3000:3000
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./src/grafana/datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml 
      - grafana:/var/lib/grafana
    networks:
      - tp_net

volumes:
  grafana:

networks:
  tp_net:
    ipam:
      driver: default
      config:
        - subnet: 172.25.125.0/24