global:
  scrape_interval: 1s
  evaluation_interval: 1s

alerting:

rule_files:

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'node'
    static_configs:
      - targets: ['node-exporter:9100']
{% for i in range(1, number_of_clients + 1) %}
  - job_name: "client-{{ i }}"
    static_configs:
    - targets: ["client-{{ i }}:{{ metrics_base_port + i + number_of_pairs }}"]
{% endfor %}
{% for i in range(1, number_of_pairs + 1) %}
  - job_name: "peer-{{ i }}"
    static_configs:
    - targets: ["peer-{{ i }}:{{ metrics_base_port + i }}"]
{% endfor %}
  - job_name: 'experimental'
    static_configs:
    - targets: ["metrics:9392"]
  